@font-face {
    font-family: IBM;
    src: url('../font/PxPlus_IBM_CGA.ttf');
}

body {
	background: teal;
    user-select: none;
}

b {
    font-weight: bold;
}

#desktop {
    width: 100vw;
    height: 100vh;
}

#taskbar {
    position: fixed;
    bottom: 0;
    height: 24px;
    width: 100vw;
}

#start > b {
    position: relative;
    top: -4px;
    padding: 4px;
}

.penguin {
    width: 32px;
    height: 32px;
    position: fixed;
    background: url('../img/penguin.png') 0px 0px;
    image-rendering: pixelated;
}

.browser {
    position: fixed;

    top: 100px;
    left: 300px;
}
