@font-face {
    font-family: IBM;
    src: url('../font/PxPlus_IBM_CGA.ttf');
}

body {
	background: teal;
}

b {
    font-weight: bold;
}

#taskbar {
    position: fixed;
    bottom: 0;
    height: 24px;
    width: 100vw;
}

#start > b {
    position: relative;
    top: -4px;
    padding: 4px;
}
